{% extends 'base.html' %}

{% block title %}change password{% endblock %}


{% block block_1 %}
{% if messages %}
    {% for message in messages %}
        <h4{% if message.tags %} class="alert alert-warning"{% endif %}>{{ message }} </h4>
    {% endfor %}
{% endif %}
<div id="change_password" class="container text-white">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-dark btn-outline-warning" value="change password">
    </form>
</div>
{% endblock %}