{% extends 'base.html' %}

{% block title %}edit profile{% endblock %}

{% block block_1 %}
{% if messages %}
    {% for message in messages %}
        <h4{% if message.tags %} class="alert alert-warning"{% endif %}>{{ message }} </h4>
    {% endfor %}
{% endif %}
<div id="edit_viewer" class="container">
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="edit info" class="btn btn-dark btn-outline-warning">
        <a href="{% url 'change_password' %}" class="btn btn-warning">change password</a>
    </form>
</div>
{% endblock %}