{% extends 'base.html' %}

{% block title %}sign up{% endblock %}

{% block block_1 %}
<div id="sign_up" class="container">
    <h2>Sign up</h2>
    <p>Are you a brewer? sign up <a href="{% url 'signup_brewer' %}" class="btn btn-warning btn-outline-dark btn-sm text-dark">here</a></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" class="btn btn-dark btn-outline-warning" value="Sign up">
    </form>
</div>
{% endblock %}