body{
	background-color: rgba(30,30,30,0.6);
	height: 100%;
	background-image: url(beer_glass.jpeg);
	background-repeat: no-repeat;
  	background-size: 100%;
}

#home{
	height: 100%;
	background-size:contain;
	color: white;
	/* text-align: center; */
	

}


.navbar {
	width: 100%;
	display: flex;
	position: fixed;
}

.navbar ul {
	display: flex;
	float: right;
    margin: 0;
	padding: 0;
	list-style: none;

}

.navbar a {
	color: #FFFFFF;
	text-shadow: 0px 0px 5px #000000;
	font-size: 20px;
}

#welcome{
	padding-top:30vh;
	margin-left: 25%;
	text-align: left;
	font-size: 72px;
	text-shadow: 0px 0px 5px #000000;
}




#login{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20vh;
	align-self: center;
	width: 50%;
	background-color: rgba(138, 128, 128, .6);
	border: 1px solid black;
}


#sign_up{
	width: 50%;
	align-self: center;
	margin-top: 5vh;
	color: white;
	background-color: rgba(138, 128, 128, .6);
	border: 1px solid black;
	align-self: center;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

#sign_up h2{
	text-align: center;
}

#sign_up a{
	text-decoration: none;
	color: white;
}

.beer-card{
	background-color: rgb(172, 96, 0);
	color: white;
	display: flex;
}

.beer-card img{
	height: 200px;
	width: 200px;
	align-self: center;
}

#beer_info{
	color: white;
}

#change_beer{
	color: white;
}

#change_beer h1{
	text-align: center;
}

#tutorial_1{
	color: white;
}

#tutorial_1 h2{
	text-align: center;
}

#tutorial_2 {
	color: white;
}


#beer_f_info {
	color: white;
}

#beer_f_info img {
	margin-left: 25vh; 
}


#edit_brewery{
	width: 50%;
	align-self: center;
	margin-top: 5vh;
	color: white;
	background-color: rgba(138, 128, 128, .6);
}

#edit_brewery a{
	color:black;
}

#edit_brewer {
	width: 50%;
	align-self: center;
	margin-top: 5vh;
	color: white;
	background-color: rgba(138, 128, 128, .6);
}

#beer_info img{
	margin-left: 25vh;
}

#contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 20vh;
	margin-left:20%;
	align-self: center;
	width: 50%;
	border: 1px solid black;
}

#change_password{
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	margin-left: 20%;
}

#change_pic{
	margin-top: 25vh;
}

#about{
	text-align: center;
	color:white;
}

#FAQ{
	text-align: center;
	color:white;
}