body{	
	height: 100vh;
	background-image: url(beer0.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: rgb(52,58,64);
	font-family: 'Source Sans Pro', sans-serif;
	color:#ccc;
	text-shadow: 0px 0px 5px #000000;
}

h1 {
	font-family: 'Lobster', cursive;
}

#home{
	height: 100vh;
	width: auto;
	background-color: rgba(30,30,30,0.6);
	background-size:contain;
	color: #ccc;

}

.main {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 95vh;
	width: 75%;
	margin: 0 auto;
	background: rgba(0,0,0,0.3);

}

/* Navbar */

.navbar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.navbar ul {
	display: flex;
	float: right;
    margin: 0;
	padding: 0;
	list-style: none;
}

.navbar-link {
	padding: 10px 15px;
	text-decoration: none;
}

.navbar a {
	color: #ccc;
	text-shadow: 0px 0px 5px #000000;
	font-size: 20px;
}

/* Home Page welcome screen */

#welcome{
	padding-top:10vh;
	margin-left: 10%;
	text-align: left;
	font-size: 52px;
	color: #ccc;
	text-shadow: 0px 0px 5px #000000;
	height: 100%;
}

/* Footer */

footer {
	color: #ccc;
	text-shadow: 0px 0px 5px #000000;
}

.footer-text {
	padding: 20px 20px;
}

#login-btn {
	text-decoration: none;
	font-size: large;
	color: #ccc;
	background-color: rgb(240,152,51);
	padding: 10px 30px;
	border: solid;
	border-radius: 20px;
	border-color: #ccc;
}

/* Dashboard */

.dashboard {
	display: flex;
}

.dash-title {
	margin: 0 auto;
}

.dashboard h1 {
	color: #ccc;
	margin: 0 auto;
}

.user {
	padding: 20px;
	margin: 10px;
	width: 30%;
	border: 1px solid;
	border-color: rgba(204, 204, 204, 0.5);

}

/* Dashboard Tabs */

.tabinator {
	padding: 20px;
	margin: 10px;
	width: 70%;
}

.tabinator h2 {
	text-align: center;
	margin-bottom: 20px;
}

.content {
	border: 1px solid;
	border-color: #ccc;
}

.tabinator input {
	display: none;
}

.tabinator label {
	box-sizing: border-box;
	display: inline-block;
	padding: 15px 25px;
	color: #ccc;
	margin-bottom: -1px;
	margin-left: -1px;
}

.tabinator label:before {
	content:'';
	display:block;
	width:100%;
	height:15px;
	background-color: rgba(0,0,0,0.5);
	position:absolute;
	bottom:-11px;
	left:0;
	z-index:10;  
}

.tabinator input:checked + label {
	position: relative;
	color: #ccc;
	background: rgba(0,0,0,0);
	border: 1px solid #bbb;
	border-bottom: 1px solid #fff;
	border-radius: 5px 5px 0 0;
}

.tabinator input:checked + label:after {
	display: block;
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	box-shadow: 5px 0 5px #939393;
}

#content1, #content2 {
	display: none;
	border-top: 1px solid #bbb;
	padding: 15px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2
{
	display: block;
}

/* Login Screen */

#signup-btn {
	text-decoration: none;
	font-size: large;
	color: white;
	background-color: rgb(85,23,0);
	padding: 10px 30px;
	border: solid;
	border-radius: 20px;
	border-color: #FFFFFF;
}

#login{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20vh;
	align-self: center;
	width: 50%;
	background-color: rgba(138, 128, 128, .6);
	border: 1px solid black;
}

/* sign up */

#sign_up{
	width: 50%;
	align-self: center;
	margin: 0 auto;
	color: white;
	background-color: rgba(138, 128, 128, .6);
	border: 1px solid black;
	align-self: center;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

#sign_up h2{
	text-align: center;
}

#sign_up a{
	text-decoration: none;
	color: white;
}

.beer-card{
	background-color: rgb(172, 96, 0);
	color: white;
	display: flex;
}

.beer-card img{
	height: 200px;
	width: 200px;
	align-self: center;
}

#beer_info{
	color: white;
}

#change_beer{
	color: white;
}

#change_beer h1{
	text-align: center;
}

#tutorial_1{
	color: white;
}

#tutorial_1 h2{
	text-align: center;
}

#tutorial_2 {
	color: white;
}


#beer_f_info {
	color: white;
}

#beer_f_info img {
	margin-left: 25vh; 
}


#edit_brewery{
	width: 50%;
	align-self: center;
	margin-top: 5vh;
	color: white;
	background-color: rgba(138, 128, 128, .6);
}

#edit_brewery a{
	color:black;
}

#edit_brewer {
	width: 50%;
	align-self: center;
	margin-top: 5vh;
	color: white;
	background-color: rgba(138, 128, 128, .6);
}

#beer_info img{
	margin-left: 25vh;
}

#contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 20vh;
	margin-left:20%;
	align-self: center;
	width: 50%;
	border: 1px solid black;
}

#change_password{
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	margin-left: 20%;
}

#change_pic{
	margin-top: 25vh;
}

#about{
	text-align: center;
	color:white;
}

#FAQ{
	text-align: center;
	color:white;
}