{% extends 'base.html' %}

{% block title %}about{% endblock %}

{% block block_1 %}
<div id="about">
    <h1>About Beer Finder</h1>
    <!-- <hr> -->
    <p>As the microbrewering indistry grows, alot of people don’t know which beer they would like based on what they buy at the store. This app answers that question.</p>
    <br>
    <p>The database at the moment is configured for israel where the app was devloped. If you dont live in Israel please eather wait fot an update of please delete it.</p>
</div>
{% endblock %}