<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="main">
        {% block nav %}
        <div id="nav-bar">
            <nav class="navbar">

                    <a class="navbar-link" href="{%url 'home' %}">Home</a>
                    {% if user.is_authenticated %}
                        <a class="navbar-link" href="{% url 'dashbord' %}">Profile</a>
                        <a class="navbar-link" href="{% url 'all_beers' %}">Beers</a>
                        <a class="navbar-link" href="{% url 'tutorial_1' %}">Tutorial</a>
                        <a class="navbar-link " href="{% url 'about' %}"  >About</a>
                        <a class="navbar-link " href="{% url 'FAQ' %}"  >FAQ</a>
                        <a class="navbar-link " href="{% url 'logout' %}"  >Logout</a>              
                    {% else %}
                        <a class="navbar-link " href="{% url 'signup' %}"  >Sign up</a>
                        <a class="navbar-link " href="{% url 'login' %}"  >Log in</a>
                        <a class="navbar-link " href="{% url 'about' %}"  >About</a>
                        <a class="navbar-link " href="{% url 'FAQ' %}"  >FAQ</a>
                    {% endif %}
            </nav>
        </div>
        {% endblock %}

        {% block block_1 %}
        <!-- Page content -->
        {% endblock %}
        <footer>
            <div class="footer-text">
                made by Yonibrese & Aaron Wolf
            </div>
        </footer>
    </div>

    {% block js%}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {%endblock%}
</body>
</html>