<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
    {% block nav %}
<div id="nav-bar">
    <nav class="navbar sticky-top navbar-dark bg-dark">
         <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://i.ebayimg.com/images/g/O8UAAOSwj4Vcfsfc/s-l300.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Beer Finder
         </a>
        <nav class="nav justify-content-end">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'dashbord' %}">profile</a>
              <a class="nav-link" href="{% url 'all_beers' %}">Beers</a>
              <a class="nav-link" href="{% url 'tutorial_1' %}">tutorial</a>
              <a class="nav-link " href="{% url 'logout' %}"  >Logout</a>
              {% else %}
              <a class="nav-link " href="{% url 'login' %}"  >Log in</a>
              <a class="nav-link " href="{% url 'signup' %}"  >Sign up</a>
              {% endif %}
        </nav>
    </nav>
</div>
    {% endblock %}
{% block block_1 %}
{% endblock %}
<footer class="page-footer fixed-bottom bg-dark" >
    <div class="footer text-muted text-center">
        made by Yonibrese
    </div>
</footer>
{% block js%}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{%endblock%}
</body>
</html>