{% extends 'base.html' %}

{% block title %}{{ beer }}{% endblock %}


{% block block_1 %}
<div id="beer_f_info">
    <h1>{{ beer }}</h1>
    <hr>
    <img src="{{ beer.image.url }}" alt="{{beer.name}}" height="300" width="300">
    <h3>{{ beer.style }}</h3>
    <h3>flavors</h3>
    <ul>
        {% for flavor in beer.flavor.all %}
        <li>{{ flavor }}</li>
        {%endfor%}
    </ul>
    <h3>abv: {{beer.abv}}%</h3>
    <h3>is the beer available?</h3>
    {% if beer.is_available %}
        <p>yes</p>
    {% else %}
        <P>no</P>
    {% endif %}
    <h3>message from the brewer:</h3>
    <p>{{beer.message}}</p>
</div>

{% endblock %}